<h2 class="card-title h1-responsive pt-4 mb-4 font-bold">
  {{ site.title }}
</h2>

<h3 class="mb-2">
  At {{ site.title }},  we stock and sell all the essentials for your leather restoration needs.
</h3>

<p class="pt-4">
    We're excited to announce that {{ site.title }} re the official stockists for all Leather Repair Company products on the island of Ireland. We sell Leather Cleaner, Leather Protection, Leather Conditioner, Leather Detailer, Mousses, Sprays and Creams so you can provide the best upkeep for both your personal and your customers leather goods. Have a browse below and view the fantastic full rage of Leather Care products.
</p>

<h4 class="pt-4">Delivery</h4>
<p class="">
  At {{ site.title }}, we deliver product direct to your door across both the North and South of Ireland. Delivery is estimated 2 working days. Next day delivery is available at extra cost, for urgent shipments. For more info on delivery information please read our <a href="">Terms & Conditions/a>.
</p>
