<div class="container">
  <h3 class="h3">Shop Online with {{ site.title }}</h3>
  <div class="row">
    {% for productInfo in site.data.productSheet %}
    <div class="col-md-3 col-sm-6">
      <div class="product-grid6">
        <div class="product-image6">
          <a href="{{ productInfo.productShopLink }}">
            <img
              class="pic-1"
              src="/images/ProductPhotos/{{ productInfo.productImage }}.JPG"
            />
          </a>
        </div>
        <div class="product-content">
          <h3 class="title">
            <a href="#">{{ productInfo.productName }}</a>
          </h3>
          <div class="desc">
            <p>{{ productInfo.shortDescription }}</p>
          </div>
          <div class="price">
            <p>{{ productInfo.shopPrice }}</p>
          </div>
          <a class="shopNow" href="{{ productInfo.productShopLink }}"
            >Shop Now <i class="fa fa-angle-right icon"></i
          ></a>
        </div>
        <ul class="social">
          <li>
            <a
              href="{{ productInfo.productShopLink }}"
              data-tip="{{ productInfo.productName }}"
              >More Info <i class="fa fa-shopping-cart"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
